.herosectionbox{
   
    margin:0 10vw;
    width:80vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
   
}
@media (width<1111px) {
    .herosectionbox{
        width:100vw;
        justify-content: center;
    }
    
}
