.mainbox{
    background-color:rgba(91, 112, 131, 0.4) ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center ;
    align-items: center;
}

.mainloading{
    top:0;
    z-index: 999999;
    position:absolute;
    width:100vw;
    height: 100vh;
    background-color: white;
    display: none;
   
}
.twitterlogo{
    margin-top:50vh;
    margin-left:45vw;
    height: 50px;
    width: 70px;
}