.main{
    min-width: 540px;
    width: 540px;
    height: 90%;
    border-radius: 15px;
    background-color: white;
    font-size: 22px;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content:  space-evenly;
    flex-direction: column;
}
.main:hover{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
  
}
.logos{
    font-size: 20px;
    margin: auto;
    
}
.firsthead{
     
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
     
        margin-top: 10px;
   
}
.logo{
  font-size: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Onelogo{
    background-color: aliceblue;
    width: 25vw;
    padding: 14px;
    border-radius: 47px;
    border-radius: 45px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content:  center;

}
.info{
  
    padding: 1rem;
    margin-top: -3rem;
   
 
}
.info h5{
    padding-left: 5rem;
    
    
}

span{
    color: rgb(34, 97, 233);
}
