.crossbtnaccount {
    position: absolute;
    left: 13px;
    top: 13px;
    cursor: none;
    font-size: 1.3em;
}


.main_container_create_acc {
    width: 540px;
    min-width: 540px;
    height: 90%;
    position: relative;

    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 10px;


}

.sub_container_acc_new h1 {

    width: 80%;
    margin-bottom: 15px;
}

.sub_container_acc_new {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_field {
    width: 80%;
}

#first_heading {
    font-weight: 20px;
    font-weight: bolder;
}

.date_section p {

    padding: 2px 55px;

}

.select1 {
    width: 150px;
    height: 9vh;
    margin-left: 60px;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    font-family: inherit;
}

.select {
    height: 9vh;
    margin: 0 18px;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    font-family: inherit;
    min-width: 80px;
}

.btn_create {
    margin-top: 32px;
    width: 80%;
    border: none;
    font-weight: bolder;
    font-size: 18px;
    padding: 15px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 35px;
    cursor: pointer;
    transition: .2s ease-in-out;
}
@media (width<=717px) {
    .main_container_create_acc {
        padding-top: 200px;
        border-radius: 0;
        width: 100vw;
        height: 100vh;
    }
    
}