.crossbtnaccount {
    position: absolute;
    left: 13px;
    top: 13px;
    cursor: pointer;
    font-size: 1.3em;
}

.createaccountpage {
    
    background-color: rgba(91, 112, 131, 0.4);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_container_create_acc {
    width: 540px;
    height: 90%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.sub_container_acc_new h1 {
    width: 80%;
    max-width: 400px;
    margin: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.sub_container_acc_new {
 
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.input_field {
 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#first_heading {
    margin: auto;
    font-weight: bolder;
}
.date_section{
 display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    padding: 10px;
    
}
.date_section p {
    word-wrap: break-word;
    padding: 2px 55px;
    margin: auto;
}

.select1 {
    width: 130px;
    height: 8vh;

    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    font-family: inherit;
}

.select {
    height: 8vh;
    border-radius: 4px;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    font-family: inherit;
    min-width: 80px;
}

.btn_create {

    width: 60%;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    padding: 12px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 35px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.invalidalert {
    box-shadow: 0 0 3px rgb(68, 67, 67);
    cursor: none;
    position: absolute;
    display: none;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(109, 199, 255);
    height: 5vh;
    border-top-right-radius: 44px;
    border-bottom-right-radius: 44px;
    font-weight: bold;
    padding: 1.5%;

    font-family: monospace;
    width: 50%;
}

@media (width<=717px) {
    .main_container_create_acc {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        width: 100vw;
        height: 100vh;
    }

    .sub_container_acc_new h1 {
        display: flex;
        align-items: center;
    }

    .input_field {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}