.sidebar {
    width: 26%;
    height: 100%;

     
    padding: 10px;

    border-radius: 20px;


}

.inline {
    max-width: 400px;
    margin: auto;
}
.input_section{
    border: 1px solid rgb(215, 215, 215);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #f5f8fa;
 
    
}
.input_section .search{
    width: 13%;
    cursor: pointer;
    font-size: 21px;
    color: rgb(27, 169, 225);
}
 .input_section input {
    background-color: #f5f8fa;
    height: 40%;
    padding: 10px 16px;
    border: transparent;
    font-size: 15px;
    outline: none;
}
 

 
.sidebarcontainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.sidebarcontainer h1 {
    font-size: 15px;
    font-size: inherit;
    margin-top: -15px;
}

.follow {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.follow h1 {
    font-size: 15px;
    font-size: inherit;
    margin-top: -15px;
}