.tweetcontainer{
    margin:30px 0px;
    width: 100%;
    height: 350px;
}

.profile{
    height: 17%;
    width: 100%;
   
    display: flex;
    
}

.profilePhoto{
    height: 90%;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 5px;
}

.nameId{
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
}

.bluetik{
    margin-top: 5px;
    color: rgb(24, 142, 189);
}
.caption{
    margin-left: 10px;
}
.userId{
    font-family: monospace;
    margin-left: 10px;
}

.imgeContainer{
   
   height: 70%;
}
.imge{
    height: 100%;
    width: 50%;
    margin-left: 25%;
}
.logo_container{
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.logoButton{
    padding: 10px;
    height: 80%;
    width: 75px;
    display: flex;
    border-radius: 44px;
    border: transparent;
    background-color: white;
}
.logo{
    margin-right: 5px;
}

.count{
   font-weight: 500;
}
.logoLike{
    margin-right: 5px;
    color: rgb(223, 37, 37);
}

.logoButton:hover{
    background-color: rgb(225, 222, 218);
    cursor: pointer;
    transform: scale(1.08);
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.logoUpload{
    height: 80%;
    width: 75px;
    border-radius: 44px;
    border: transparent;
    background-color: white;
    padding-top: 3px;
}

.logoUpload:hover{
    background-color: rgb(225, 222, 218);
    cursor: pointer;
    transform: scale(1.08);
    transition: opacity 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}