.tweetbox_main_container {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
    backdrop-filter: blur(8.5px);
}

.sub_tweetbox_container {
    width: 620px;
    height: 45%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    margin: auto;
    display: flex-start;
    align-items: center;
    padding: 2px 10px;
}

.sub_tweetbox_container img {
    width: 12%;
}

.sub_tweetbox_container input {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 608px;
    padding-bottom: 125px;
    padding-left: 105px;
    border: none;
    outline: none;
    font-size: 20px;
}

.icons {
    color: skyblue;
}

.tweetbox_btn {
    text-align: center;
    border: transparent;
    color: skyblue;
    background-color: transparent;
    padding: 5px 5px;
    cursor: pointer;
    font-weight: bold;

}