.leftSideBarbox {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.twitterLogo {
    width: 40px;
}

.main_btn_part {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn1 {
    width: 195px;
    background-color: transparent;
    display: flex;
    border-radius: 35px;
    text-align: center;
    transition: .1s ease-in-out;
}

.btn1:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
    transition: .1s ease-in-out;
}

.btn1 button {
    border: none;
    background-color: transparent;
    padding: 0px 12px;
    font-weight: bold;
    display: flex;
    padding: 12px 10px;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
}

.btn1 p {
    border: none;
    background-color: transparent;
    padding: 0px 12px;
    font-weight: bold;
    display: flex;
    padding: 15px 15px;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
}

.input_tweet_modal {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 100px;
    padding-left: 105px;
    border: none;
    outline: none;
    font-size: 20px;
}


.tweet_icons {
    color: rgb(27, 169, 225);
    margin-left: 10px;
}

.tweet_modal_button {
    text-align: center;
    border: transparent;
    color: rgb(27, 169, 225);
    background-color: transparent;
    padding: 10px 19px;
    cursor: pointer;
    border-radius: 35px;
    font-weight: bold;
    transition: .3s ease-in-out;
}

.tweet_modal_button:hover {
    transition: .3s ease-in-out;
    background-color: rgba(135, 207, 235, 0.322);
}

.icons_tweet_media {
    display: flex;
    justify-content: left;
    padding: 10px;
    color: rgb(27, 169, 225);
    cursor: pointer;
    gap: 20px;
    align-items: flex-start;
}

.tweet_button_modal {
    margin-left: auto;
    border-radius: 25px;
    border: transparent;
    padding: 10px 18px;
    background-color: rgb(27, 169, 225);
    color: white;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

.account_login {
    width: 87%;
    display: flex;
    cursor: pointer;
    border-radius: 45px;
    background-color: transparent;
    transition: .2s ease-in-out;
}

.account_login:hover {
    transition: .2s ease-in-out;
    background-color: rgba(227, 227, 227, 0.893);
}

.sub_account_login {
    flex-wrap: wrap;
    padding: 0px 12px;
}

.sub_account_login img {
    width: 60px;
}

.name_profile_login_logout {
    padding: 8px 10px;
}

.name_profile_login_logout h4,
h6 {
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

.name_profile_login_logout p {
    float: left;
    font-size: 13px;
}

.inside_modal_logout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.inside_modal_logout button {
    cursor: pointer;
    border: none;
    width: 100%;
    height: 40px;
    padding: 8px 8px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 45px;
    font-size: 15px;
}

.inside_modal_logout button:hover {
    background-color: rgb(243, 243, 243);
}



@media screen and (max-width : 900px) {
    .button p {
        display: none;
    }

    .logo {
        display: block;
    }
}

@media screen and (max-width : 1000px) {
    .btn1 button {
        display: none;
    }
}